.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f4f6;
}

.auth-box {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #047857;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #065f46;
}

.auth-link {
  color: #047857;
  font-weight: bold;
  cursor: pointer;
}
